* {
  padding: 0;
  margin: 0;
  outline: 0;
  animation: all 0.2s;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

html, body {
  height: 100%;
  background-color: #0f1923;
}

#container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

progress {
  width: 100%;
	border: 0;
	border-radius: 6px;
	position: relative;
  height: 6px;
}

progress::-webkit-progress-bar {
	width: 150px;
	margin: 0 auto;
	background-color: #323b45;
	border-radius: 6px;
}

.progress_bronze::-webkit-progress-value {
	background: #c5a075;
	border-radius: 6px;
}

.progress_prata::-webkit-progress-value {
	background: #b7b7b7;
	border-radius: 6px;
}

label {
  width: 280px;
  font-size: 12px;
  font-weight: bold;
  color: #bcbfc7;
  margin: 0px 0 10px 0;
}

#username, #password, #value, #multiplication, #profit_victory {
  width: 260px;
  height: 25px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border-radius: 3px;
  background-color: #0f1923;
  border: 0px;
  padding: 10px;
}

input:disabled {
  cursor: no-drop;
  opacity: 0.6;
}

img.logo {
  width: 225px;
}

.logo:hover {
  cursor: pointer;
}

.close {
  background-color: #1b242f;
  padding: 10px;
  font-size: 20px;
  border: 0;
}

.button {
  background-color: #1b242f;
  padding: 10px;
  border: 1px solid #323b45;
  font-size: 20px;
  margin: 0 0 0 10px;
}

#access, #start, #deposit {
  width: 280px;
  height: 45px;
  background-color: #f12c4c;
  border-radius: 4px;
  border: 0;
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -.3px;
}

#deposit {
  width: 100px;
  margin: 0 0 0 15px;
}

.button:hover {
  cursor: pointer;
  background-color: #0f1923;
  opacity: 0.9;
}

.button:active {
  background-color: #0f1923;
  opacity: 0.8;
}

.close:hover, #access:hover, #start:hover, #deposit:hover, button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.close:active, #access:active, #start:active, #deposit:active, button:active {
  cursor: pointer;
  opacity: 0.8;
}

.close:disabled, #access:disabled, #start:disabled, #deposit:disabled, button:disabled {
  cursor: no-drop;
  opacity: 0.4;
}

.bet {
  padding: 10px 14px 10px 14px;
  border: 0;
  border-radius: 6px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background: #06e385;
  opacity: 0.4;
  text-shadow: 0.1em 0.1em 0 #7ea293;
}

.bet:hover {
  cursor: pointer;
  opacity: 1;
}

.bet:active {
  cursor: pointer;
  opacity: 0.8;
}

.bet:disabled {
  cursor: no-drop;
  opacity: 0.4;
}

.selected {
  opacity: 1;
}

#header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  border-bottom: 1px solid #323b45;
}

#header > div {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0f1923;
}

#header .left {
  margin: 0 0 0 30px;
}

#header .right {
  display: flex;
  align-items: center;
  margin: 0 30px 0 0;
}

#header .right .level {
  padding: 6px 14px 6px 14px;
  border-radius: 6px;
  border: 1px solid #323b45;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0 15px 0 0;
}

#header .right .level:hover {
  cursor: pointer;
  opacity: 0.9;
}

#header .right .level:active {
  opacity: 0.8;
}

#header .right .level div div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header .right .level div div p {
  font-size: 14px;
  font-weight: bold;
}

#header .right .level div div p.bronze {
  color: #c5a075;
}

#header .right .level div div p.prata {
  color: #b7b7b7;
}

#header .right .currency {
  padding: 14px;
  border-radius: 6px;
  border: 1px solid #323b45;
  font-weight: bold;
  letter-spacing: 1px;
  min-width: 120px;
  text-align: center;
}

#graphic {
  position: absolute;
  width: 250px;
  height: 100px;
  margin: 50px 0 0 25px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid #323b45;
  border-radius: 6px;
  box-shadow: 0 5px 20px 0 rgba(6,10,14,.25);
  overflow: hidden;
}

#cassino {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-grow: 1;
}

#game {
  margin: 50px 0 0 0;
  min-height: 500px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #323b45;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 5px 20px 0 rgba(6,10,14,.25);
  overflow: hidden;
}

#game-controller {
  width: 300px;
  min-height: 500px;
  background-color: #1b242f;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 6px 0px 0px 6px;
  padding: 10px;
}

#game-controller div:not(.options):not(#message) {
  margin: 20px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#game-controller div:first-child {
  margin: 0;
}

#game-canvas {
  width: 700px;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #1b242f;
  padding: 10px;
  overflow: hidden;
  border-radius: 0px 6px 6px 0px;
}

#game-result {
  width: 80%;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 40px;
}

#game-result div {
  padding: 15px 25px 15px 25px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 26px;
}

#game-cubes {
  display: flex;
  width: 100%;
  min-height: 500px;
  justify-content: center;
  align-items: center;
  background-color: #0f1923;
  overflow: hidden;
  border-radius: 6px;
}

.options {
  width: 280px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 0;
}

#statistics {
  width: 100%;
  height: 60px;
  z-index: 99;
  display: flex;
  justify-content: end;
  flex-direction: row;
  align-items: center;
  margin: 0 20px 0 0px;
  position: absolute;
  bottom: 0;
  background-color: #1b242f;
}

#statistics div {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  margin: 0 0 0 10px;
}

#statistics div span {
  font-weight: bold;
  margin: 0 0 0 10px;
  padding: 10px;
  background: #0f1923;
  border-radius: 6px;
}

.success {
  background-color: #06e385;
}

.failed {
  background-color: #f12c4c;
}

#historic {
  width: 1000px;
  margin: 25px 0 100px 0;
  height: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #323b45;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 5px 20px 0 rgba(6,10,14,.25);
  overflow: hidden;
}

#historic .items {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: auto hidden;
  padding: 10px 0 10px 0;
}

#historic .items .item {
  padding: 0 20px 0 20px;
  height: 100%;
  border-radius: 6px;
  margin: 0 10px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#historic .items .item:hover {
  opacity: 0.9;
  cursor: pointer;
}

#historic .items .item:active {
  opacity: 0.8;
}

#historic .items .disabled {
  opacity: 0.4;
  cursor: no-drop;
}

#historic .items .item span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-size: 25px;
  font-weight: bold;
}

#message {
  font-size: 14px;
  color: #e2e6f4;
  margin: 10px;
  text-align: center;
}

#modal {
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.medium {
  width: 550px;
}

.small {
  width: 350px;
}

#modal_container {
  background-color: #1b242f;
  min-height: 200px;
  border-radius: 6px;
  box-shadow: 0 5px 20px 0 rgba(6,10,14,.25);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#modal_container .header {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #323b45;
  padding: 10px;
}

#modal_container .header .title {
  font-weight: bold;
  font-size: 22px;
}

#modal_container .content {
  padding: 10px 30px 10px 30px;
  flex: 1 1;
  overflow: hidden auto;
  max-height: 500px;
}

#modal_container .content::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #1b242f;
}
    
#modal_container .content::-webkit-scrollbar-thumb {
  background-color: #52585f; 
  border-radius: 1vh;
}

#modal_container .footer {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#bet_information p, #method_information p, #payment_information p {
  color: #bcbfc7;
}

#bet_information .info, #method_information .info, #payment_information .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

#bet_information .info:nth-child(1) {
  justify-content: center;
}

#bet_information .fields div {
  display: flex;
  align-items: start;
  flex-direction: column;
}

#bet_information .fields div label {
  width: auto;
}

#bet_information .fields div input {
  width: 110px;
  height: 25px;
}

#bet_information .big div input {
  width: 350px;
}

#bet_information .show_cubes {
  display: flex;
  overflow: hidden;
  margin: 0 0 10px 0;
}

#bet_information .results {
  justify-content: center;
  margin: 10px 0 0 0;
}

#bet_information .results div {
  padding: 15px 25px 15px 25px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 26px;
  margin: 0 10px 0 10px;
}

#method_information, #payment_information {
  min-height: 300px;
}

#method_information .info button, #payment_information .info button {
  width: 100%;
  background-color: #1b242f;
  padding: 10px;
  border: 1px solid #323b45;
  font-size: 16px;
  font-weight: bold;
  color: #bcbfc7;
}

#loading {
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.spinner {
  padding: 30px;
  border-radius: 100px;
  border: 6px solid #06e385;
  box-shadow: 0 0 10px 10px #06e385;
  border-right: 6px solid transparent;
  animation: spinner 1.2s linear infinite;
}

#footer {
  background-color: #0f1923;
  border-top: 1px solid #323b45;
  padding: 10px;
  margin: 0 0 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#footer .line, #footer .line-column {
  width: 1200px;
  margin: 50px 0 0 0;
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

#footer .line-column .description {
  width: 100%;
  padding: 10px;
  flex: 1;
  margin: 0 10px 25px 10px;
  display: flex;
  flex-direction: column;
  line-height: 28px;
}

#footer .line-column .description p {
  width: 100%;
  text-align: center;
  color: #bcbfc7;
  font-weight: bold;
  font-size: 12px;
}

#footer .line-column .justify p {
  text-align: justify;
}

#footer .line .column {
  padding: 10px;
  flex: 1;
  margin: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
  line-height: 28px;
}

#footer .line-column {
  display: flex;
  flex-direction: column;
}

#footer .line .column a:not(.title) {
  color: #bcbfc7;
  font-weight: bold;
}

#footer .line .column a:hover:not(.title) {
  cursor: pointer;
  opacity: 0.9;
}

#footer .line .column a:hover:not(.title) {
  opacity: 0.8;
}

#footer .line .column .title {
  font-size: 18px;
  color: #fff;
  line-height: 50px;
  font-weight: bold;
}

#login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

#login h1 {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  margin: 0 0 10px 0;
}

#login a {
  font-size: 12px;
  color: #bcbfc7;
  margin: 10px 0 0 0;
}

#login a:hover {
  cursor: pointer;
  opacity: 0.9;
}

#login a:active {
  opacity: 0.8;
}

#login > div {
  width: 280px;
  background-color: #1b242f;
  border: 1px solid #323b45;
  border-radius: 6px;
  box-shadow: 0 5px 20px 0 rgba(6,10,14,.25);
  overflow: hidden;
  padding: 15px 30px 15px 30px;
}

#login div div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 0 0 20px 0;
}

#home {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-grow: 1;
  margin: 50px 0 0 0;
  min-height: 500px;
  padding: 10px;
  overflow: hidden;
}

#home > div {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  flex-wrap: wrap;
}

#home > div .module {
  min-width: 240px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1b242f;
  padding: 20px;
  margin: 10px;
  border-radius: 6px;
  border: 1px solid #323b45;
  box-shadow: 0 5px 20px 0 rgba(6,10,14,.25);
}

#home > div .module:hover:not(.disabled) {
  cursor: pointer;
  opacity: 0.9;
  background-color: #0f1923;
  /* webkit-transform : scale(1.04); */
  /* -moz-transform    : scale(1.04); */
  /* -o-transform      : scale(1.04); */
  transform         : scale(1.04);
  transition        : all 0.3s;
  -webkit-transition: all 0.3s;
}

#home > div .module:active:not(.disabled) {
  opacity: 0.8;
}

#home > div .disabled {
  opacity: 0.4;
  cursor: no-drop;
}

#home > div .module img {
  width: 150px;
}

#home > div .module h1 {
  margin: 10px 0 0 0;
  font-size: 36px;
}

#teste {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

#teste2 {
  display: flex;
  width: 100%;
  flex: 1 0;
}

#menu {
  max-height: 100vh;
  position: sticky;
  top: 76px;
  z-index: 99;
  width: 250px;
  background: #1b242f;
  border-right: 1px solid #323b45;
}

#menu .item {
  background-color: #0f1923;
  padding: 15px 10px 15px 15px;
  display: flex;
  align-items: center;
  justify-content: start;
  border-bottom: 1px solid #323b45;
}

#menu .item:hover {
  cursor: pointer;
  opacity: 0.9;
}

#menu .item:active {
  opacity: 0.8;
}

#menu .selected {
  background-color: #06e38517;
  border-right: 2px solid #06e385;
}

#menu .item i {
  margin: 0 10px 0 0;
}

#menu .item p {
  font-weight: bold;
  color: #dbdbdf;
}

#menu .selected p {
  color: #06e385;
}





























/* cube */

.line {
  width: 160px;
  display: flex;
  justify-content: space-between;
  margin: 0px 20px 0px 20px;
}

.line-top {
  margin-top: 20px;
}

.line-bottom {
  margin-bottom: 20px;
}

.circle {
  padding: 20px;
  border-radius: 100%;
  background-color: #1b1e21;
}

.cube {
  width: 200px;
  height: 200px;
  margin: 35px 25px 0 25px;
  transform-style: preserve-3d;
}

.face {
  background: #e2e6f4;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 200px;
  height: 200px;
  position: absolute;
  border: 2px solid #d4d4d4;
}

.face-1 {
  transform: translateZ(100px);
}

.face-1 .line:nth-child(2) {
  justify-content: center;
}

.face-2 {
  transform: rotateY(-90deg) translateZ(100px);
}

.face-2 .line:first-child {
  justify-content: end;
}

.face-3 {
  transform: rotateX(90deg) translateZ(100px);
}

.face-3 .line:first-child {
  justify-content: end;
}

.face-3 .line:nth-child(2) {
  justify-content: center;
}

.face-4 {
  transform: rotateY(90deg) translateZ(100px);
}

.face-5 {
  transform: rotateX(-90deg) translateZ(100px);
}

.face-5 .line:nth-child(2) {
  justify-content: center;
}

.face-6 {
  transform: rotateY(180deg) translateZ(100px);
}

/* Animations */

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-cube-1 {
  from {
    transform: rotateX(-20deg) rotateY(-10deg);
  }

  50% {
    transform: rotateX(20deg) rotateY(320deg);
  }

  to {
    transform: rotateX(-20deg) rotateY(-20deg);
  }
}

@keyframes rotate-cube-2 {
  from {
    transform: rotateX(30deg) rotateY(20deg);
  }

  50% {
    transform: rotateX(-15deg) rotateY(-360deg);
  }

  to {
    transform: rotateX(30deg) rotateY(10deg);
  }
}

@keyframes start-game-cube-1 {
  from {
    transform: rotateX(-20deg) rotateY(-20deg);
  }

  50% {
    transform: rotateX(20deg) rotateY(360deg);
  }

  to {
    transform: rotateX(-20deg) rotateY(-20deg);
  }
}

@keyframes start-game-cube-2 {
  0% {
    transform: rotateX(-40deg) rotateY(-40deg);
  }

  50% {
    transform: rotateX(20deg) rotateY(360deg);
  }

  100% {
    transform: rotateX(40deg) rotateY(40deg);
  }
}

/* ============================================ fall cube ============================================ */

/* 1 */

.face-1-1 {
  transform: rotateX(170deg) rotateY(170deg) translateZ(20px);
}

@keyframes fall-cube-1-1 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: rotateX(170deg) rotateY(170deg) translateZ(20px);
  }
}

.face-1-2 {
  transform: rotateX(170deg) rotateY(260deg) translateZ(20px);
}

@keyframes fall-cube-1-2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: rotateX(170deg) rotateY(260deg) translateZ(20px);
  }
}

.face-1-3 {
  transform: rotateX(-100deg) rotateZ(10deg) rotateY(270deg) translateZ(10px);
}

@keyframes fall-cube-1-3 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: rotateX(-100deg) rotateZ(10deg) rotateY(270deg) translateZ(10px);
  }
}

.face-1-4 {
  transform: rotateX(-10deg) rotateY(-80deg) translateZ(20px);
}

@keyframes fall-cube-1-4 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: rotateX(-10deg) rotateY(-80deg) translateZ(20px);
  }
}

.face-1-5 {
  transform: rotateX(-280deg) rotateZ(-10deg) rotateY(450deg) translateZ(10px);
}

@keyframes fall-cube-1-5 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: rotateX(-280deg) rotateZ(-10deg) rotateY(450deg) translateZ(10px);
  }
}

.face-1-6 {
  transform: rotateX(-190deg) rotateY(350deg) translateZ(20px);
}

@keyframes fall-cube-1-6 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: rotateX(-190deg) rotateY(350deg) translateZ(20px);
  }
}

/* 2 */

.face-2-1 {
  transform: rotateX(-10deg) rotateY(-10deg) translateY(5px) translateZ(-40px);
}

@keyframes fall-cube-2-1 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: rotateX(-10deg) rotateY(-10deg) translateY(5px) translateZ(-40px);
  }
}

.face-2-2 {
  transform: rotateX(-10deg) rotateY(80deg) translateZ(20px);
}

@keyframes fall-cube-2-2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: rotateX(-10deg) rotateY(80deg) translateZ(20px);
  }
}

.face-2-3 {
  transform: rotateX(-100deg) rotateZ(-10deg) rotateY(90deg) translateZ(20px);
}

@keyframes fall-cube-2-3 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: rotateX(-100deg) rotateZ(-10deg) rotateY(90deg) translateZ(20px);
  }
}

.face-2-4 {
  transform: rotateX(-10deg) rotateY(-100deg) translateZ(-40px);
}

@keyframes fall-cube-2-4 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: rotateX(-10deg) rotateY(-100deg) translateZ(-40px);
  }
}

.face-2-5 {
  transform: rotateX(-280deg) rotateZ(10deg) rotateY(0deg) translateX(20px) translateZ(0px);
}

@keyframes fall-cube-2-5 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: rotateX(-280deg) rotateZ(10deg) rotateY(0deg) translateX(20px) translateZ(0px);
  }
}

.face-2-6 {
  transform: rotateX(-190deg) rotateY(370deg) translateY(-10px) translateZ(100px);
}

@keyframes fall-cube-2-6 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: rotateX(-190deg) rotateY(370deg) translateY(-10px) translateZ(100px);
  }
}
