* {
  padding: 0;
  margin: 0;
  outline: 0;
  animation: all 0.2s;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  background-color: #1b242f;
  height: 12px;
  border-radius: 6px;
}
    
::-webkit-scrollbar-thumb {
  background-color: #52585f; 
  border-radius: 1vh;
}

body {
  background-color: #0f1923;
}

progress {
  width: 100%;
	border: 0;
	border-radius: 6px;
	position: relative;
  height: 8px;
}

progress::-webkit-progress-bar {
	width: 150px;
	margin: 0 auto;
	background-color: #323b45;
	border-radius: 6px;
}

progress::-webkit-progress-value {
	background: #c5a075;
	border-radius: 6px;
}

label {
  width: 280px;
  font-size: 12px;
  font-weight: bold;
  color: #bcbfc7;
  margin: 0px 0 10px 0;
}

input {
  width: 260px;
  height: 25px;
  border-radius: 3px;
  background-color: #0f1923;
  border: 0px;
  padding: 10px;
}

input:disabled {
  cursor: no-drop;
  opacity: 0.6;
}

#start, #deposit {
  width: 280px;
  height: 45px;
  background-color: #f12c4c;
  border-radius: 4px;
  border: 0;
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -.3px;
}

#deposit {
  width: 100px;
  margin: 0 0 0 15px;
}

#start:hover, #deposit:hover {
  cursor: pointer;
  opacity: 0.9;
}

#start:active, #deposit:active {
  cursor: pointer;
  opacity: 0.8;
}

#start:disabled, #deposit:disabled {
  cursor: no-drop;
  opacity: 0.4;
}

.bet {
  padding: 10px 14px 10px 14px;
  border: 0;
  border-radius: 6px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background: #06e385;
  opacity: 0.4;
  text-shadow: 0.1em 0.1em 0 #7ea293;
}

.bet:hover {
  cursor: pointer;
  opacity: 1;
}

.bet:active {
  cursor: pointer;
  opacity: 0.8;
}

.bet:disabled {
  cursor: no-drop;
  opacity: 0.4;
}

.selected {
  opacity: 1;
}

#header {
  height: 60px;
  padding: 5px 30px 5px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #323b45;
}

#header .right {
  display: flex;
  align-items: center;
}

#header .right .level {
  padding: 6px 14px 6px 14px;
  border-radius: 6px;
  border: 1px solid #323b45;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0 15px 0 0;
}

#header .right .level div div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header .right .level div div p {
  font-size: 14px;
  font-weight: bold;
}

#header .right .level div div p.bronze {
  color: #c5a075;
}

#header .right .level div div p.prata {
  color: #bccad1;
}

#header .right .currency {
  padding: 14px;
  border-radius: 6px;
  border: 1px solid #323b45;
  font-weight: bold;
  letter-spacing: 1px;
  min-width: 100px;
  text-align: center;
}

#cassino {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 50px 0;
}

#game {
  width: 1000px;
  margin: 50px 0 0 0;
  min-height: 500px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #323b45;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 5px 20px 0 rgba(6,10,14,.25);
  overflow: hidden;
}

#game-controller {
  width: 300px;
  min-height: 500px;
  background-color: #1b242f;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 6px 6px 0px 6px;
  padding: 10px;
}

#game-controller div:not(.options):not(#message) {
  margin: 20px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#game-controller div:first-child {
  margin: 0;
}

#game-canvas {
  width: 700px;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #1b242f;
  padding: 10px;
  overflow: hidden;
}

#game-result {
  width: 80%;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 40px;
}

#game-result div {
  padding: 15px 25px 15px 25px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 26px;
}

#game-cubes {
  display: flex;
  width: 100%;
  min-height: 500px;
  justify-content: center;
  align-items: center;
  background-color: #0f1923;
  overflow: hidden;
}

.options {
  width: 280px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 0;
}

#statistics {
  width: 100%;
  height: 60px;
  z-index: 999;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0 20px 0 0px;
  position: absolute;
  bottom: 0;
  border-radius: 0px 6px 6px 0px;
  background-color: #1b242f;
}

#statistics span {
  font-weight: bold;
  margin: 0 0 0 10px;
  padding: 10px;
  background: #0f1923;
  border-radius: 6px;
}

.success {
  background-color: #06e385;
}

.failed {
  background-color: #f12c4c;
}

#historic {
  width: 1000px;
  margin: 25px 0 0 0;
  height: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #323b45;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 5px 20px 0 rgba(6,10,14,.25);
  overflow: hidden;
}

#historic .items {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: auto hidden;
  padding: 10px 0 10px 0;
}

#historic .items .item {
  padding: 0 20px 0 20px;
  height: 100%;
  border-radius: 6px;
  margin: 0 10px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#historic .items .item span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-size: 30px;
  font-weight: bold;
}

#message {
  font-size: 14px;
  color: #e2e6f4;
  margin: 10px;
  text-align: center;
}

















/* cube */

.line {
  width: 160px;
  display: flex;
  justify-content: space-between;
  margin: 0px 20px 0px 20px;
}

.line-top {
  margin-top: 20px;
}

.line-bottom {
  margin-bottom: 20px;
}

.circle {
  padding: 20px;
  border-radius: 100%;
  background-color: #1b1e21;
}

.cube {
  width: 200px;
  height: 200px;
  margin: 35px 25px 0 25px;
  transform-style: preserve-3d;
}

.face {
  background: #e2e6f4;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 200px;
  height: 200px;
  position: absolute;
  border: 2px solid #d4d4d4;
}

.face-1 {
  transform: translateZ(100px);
}

.face-1 .line:nth-child(2) {
  justify-content: center;
}

.face-2 {
  transform: rotateY(-90deg) translateZ(100px);
}

.face-2 .line:first-child {
  justify-content: end;
}

.face-3 {
  transform: rotateX(90deg) translateZ(100px);
}

.face-3 .line:first-child {
  justify-content: end;
}

.face-3 .line:nth-child(2) {
  justify-content: center;
}

.face-4 {
  transform: rotateY(90deg) translateZ(100px);
}

.face-5 {
  transform: rotateX(-90deg) translateZ(100px);
}

.face-5 .line:nth-child(2) {
  justify-content: center;
}

.face-6 {
  transform: rotateY(180deg) translateZ(100px);
}

/* Animations */

@keyframes rotate-cube-1 {
  from {
    transform: rotateX(-20deg) rotateY(-10deg);
  }

  50% {
    transform: rotateX(20deg) rotateY(320deg);
  }

  to {
    transform: rotateX(-20deg) rotateY(-20deg);
  }
}

@keyframes rotate-cube-2 {
  from {
    transform: rotateX(30deg) rotateY(20deg);
  }

  50% {
    transform: rotateX(-15deg) rotateY(-360deg);
  }

  to {
    transform: rotateX(30deg) rotateY(10deg);
  }
}

@keyframes start-game-cube-1 {
  from {
    transform: rotateX(-20deg) rotateY(-20deg);
  }

  50% {
    transform: rotateX(20deg) rotateY(360deg);
  }

  to {
    transform: rotateX(-20deg) rotateY(-20deg);
  }
}

@keyframes start-game-cube-2 {
  0% {
    transform: rotateX(-40deg) rotateY(-40deg);
  }

  50% {
    transform: rotateX(20deg) rotateY(360deg);
  }

  100% {
    transform: rotateX(40deg) rotateY(40deg);
  }
}

/* ============================================ fall cube ============================================ */

/* 1 */

@keyframes fall-cube-1-1 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: rotateX(170deg) rotateY(170deg) translateZ(20px);
  }
}

@keyframes fall-cube-1-2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: rotateX(170deg) rotateY(260deg) translateZ(20px);
  }
}

@keyframes fall-cube-1-3 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: rotateX(-100deg) rotateY(270deg) translateZ(20px);
  }
}

@keyframes fall-cube-1-4 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: rotateX(-10deg) rotateY(-80deg) translateZ(20px);
  }
}

@keyframes fall-cube-1-5 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: rotateX(-280deg) rotateY(450deg) translateZ(20px);
  }
}

@keyframes fall-cube-1-6 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: rotateX(-190deg) rotateY(350deg) translateZ(20px);
  }
}

/* 2 */

@keyframes fall-cube-2-1 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: rotateX(-10deg) rotateY(-10deg) translateZ(-40px);
  }
}

@keyframes fall-cube-2-2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: rotateX(-10deg) rotateY(80deg) translateZ(20px);
  }
}

@keyframes fall-cube-2-3 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: rotateX(-100deg) rotateY(90deg) translateZ(20px);
  }
}

@keyframes fall-cube-2-4 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: rotateX(-10deg) rotateY(-100deg) translateZ(-40px);
  }
}

@keyframes fall-cube-2-5 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: rotateX(-280deg) rotateY(0deg) translateZ(0px);
  }
}

@keyframes fall-cube-2-6 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: rotateX(-190deg) rotateY(370deg) translateZ(100px);
  }
}
